
.g_topbar{
    background-color: #EFEFEF;
}
.g_topbar .cw{
    height: 35px;
    
}
.m_toplist li{
    float: left;
    position: relative;
}
.tl_inner_mr li{
    margin-left: 7px;
    line-height: 35px;
}
.u_trlink,.u_dropdown{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding:0 10px;
    position: relative;
    z-index: 2;
}
.u_trlink:hover{
    color: #ff4300;
}
.u_dropdown:hover{
    background: #fff;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    padding: 0 9px;
}
.u_dropdown_box ul{
    border:1px solid #666;
    padding: 9px 0;
}
.u_dropdown_box{
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 0;
    top:100%;
    margin-top: -1px;
    
}
.u_dropdown i{
    display: inline-block;
    width: 5px;
    height: 3px;
    margin-left: 7px;
}
.m_toplist em{
    width: 12px;
    height: 13px;
    display: inline-block;
}
.u_dropdown_box li{
    float: none;
}
.u_dropdown_box a{
    display: block;
    padding: 0 9px;
    line-height: 28px;
    white-space: nowrap;//强制文字不换行
}
.u_dropdown_box a:hover{
    background: #ccc;
}

.adv{
    background-image: url(../images/adv.png);background-repeat: no-repeat;
    width: 1000px;
    height: 40px;
    margin:0px auto;
}
.close{
    margin-left: -20px;
}
.qr_code{
    background-image: url(../images/header_code.png);background-repeat: no-repeat;
    width: 96px;
    height: 114px;
}
.u_search{
    margin-left: 250px;
    margin-right: 220px;
}
.u_search_t{
    height: 45px;
}
.u_sc_tl{
    margin-right: 3em;
    background: #ff4400;
    height: 45px;
}
.u_sc_tr{
    width: 2em;
    margin-top: 10px;
}
.u_sc_dropdown{
    height: 39px;
    line-height: 39px;
    background:#f5f5f5;
    width: 73px;
    border-right:1px solid #666; 
    margin:3px 0 3px 3px;
}
.u_sc_dropdown p{
    text-indent: 23px;
}
.u_sc_submit{
    width: 100px;
    height: 45px;
    font-size:20px;
    color:#fff;
    border: none;
    background: #ff4400;
}
.u_sc_input input{
    border:none;
    width: 100%;
    height: 37px;
    line-height: 39px;
    display: block;
}
.u_sc_input{
    margin-left: 77px;
    margin-right: 100px;
    margin-top: 3px;
    background: #fff;
    height: 39px;
    padding: 0 15px;
}
.u_sc_input label{
    display: block;
    height: 39px;
    line-height: 39px;
    margin-top: -39px;
}


.m_shopClass{
    width: 150px;
}
.u_shopTit{
    height: 41px;
    font-size: 14px;
    background: #ff4300;
    color:#fff;
} 
.u_shoplist{
    background: #f8f8f8;
    border:1px solid #bbbbbb;
}
.u_shoplist .icon_l{
    display: block;
    background: url(../images/icon_l.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    line-height: 33px;
    background-position: center;
    margin-right: 8px;
}
.u_shoplist .icon_r{
    display: block;
    background: url(../images/icon_r.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 32px;
    line-height: 33px;
    background-position: center;
}
.u_shoplist li a{
    font-size:14px;
    line-height: 33px; 
    // margin-right:8px;
}
.u_shoplist li{
    height:33px;
    padding:0 9px;
}
.m_shopClass h3{
    text-align: center;
    line-height: 38px;
}
.u_line{
    display: block;
    height: 1px;
    background: #ccc;
    margin-top: 1px;
}
.u_shoplist li:hover{
    background: #fff;
    border:1px solid #ff4300;
    margin-left: -1px;
    margin-right: -1px;
    border-right: none;
    height: 31px;
    line-height: 31px;
}
.u_shoplist li:hover .icon_l{
    margin-right: 1px;
    margin-top: -1px;
}
.u_shoplist li:hover .icon_r{
    margin-right: 1px;
    margin-top: -1px;
}
.u_shoplist li:hover a{
    height: 31px;
    line-height: 31px;
    margin-left: 7px;
}
.m_shopClass{
    padding:32px 0;
}
/* 焦点图*/

.m_inrc{
    margin-left: 160px;
}
.m_nav{
    height: 29px;
    border-bottom:2px solid #f40;
}
.u_nav{
    font-size: 14px;
    line-height: 39px;
    font-weight: bold;
}
.u_nav li{
    float: left;
    margin-right: 32px;
}
.u_nav_sl{
    font-size: 16px;
    margin-right: 36px;
    color:#f40;
    padding-left: 22px;
}
.u_nav_link{
    line-height: 39px;
    font-weight: bold;
    margin-left: 40px;
}
.m_nav img{
    margin-top: -10px;
}
.m_nav{
    margin-bottom: 10px;
}
.g_ban{
    width: 720px;
}
.g_user{
    width: 300px;
}
.m_banner{
    width: 520px;
    height: 280px;
    float: left;
    position: relative;
    overflow: hidden;
}
.m_banner ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
}
.m_banner li{
    float: left;
}
.m_banner img{
    width: 520px;
    height: 280px;
}
.u_prev,.u_next{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.u_prev{
    background: url(../images/prev.png);
    left: 5px;
}
.u_next{
    background: url(../images/next.png);
    right: 5px;
}
.ad_b1 img{
    width: 200px;
    height: 280px;
}
.m_banner_sm{
    height: 250px;
}
.m_banner_sm li{
    width: 520px;
    height: 250px;
}
.u_banner_ad{
   
}
.u_banner_ad img{
    width: 50%;
    height: 50%;
    float: left;
    border:1px solid #f40;
    margin:-1px;
}
.m_tab{
    border:1px solid #666;
}
.u_tab_ele{
    height: 27px;
    line-height: 27px;
    background: #d5d5d5;
    text-align: center;
}
.u_tab_ele .current{
    background: #fff;
}
.u_tab_ele li{
    float: left;
    width: 20%;
}
.u_tab_item{
    line-height: 26px;
    padding: 9px 15px 10px;
}
.u_tab_item li{
    width: 50%;
    float: left;
}

.m_user_center{
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    border:1px solid #666;
    padding:10px 18px; 
}
.u_user_info dt{
    width: 60px;
    height: 60px;
    float: left;
    background: url(../images/tit.png);
}
.u_user_info dd{
    margin-left: 70px;
    padding-top: 2px;
}
.u_user_info p{
    height: 26px;
    line-height: 26px;
    font-weight: bold;
}
.u_user_user{
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    color:#f55732;
    line-height: 30px;
}
.u_link_tjb{
    background: url(../images/ucenter_1.png);
    width: 109px;
    text-indent: 30px;
}
.u_link_vip{
    background: url(../images/ucenter_2.png);
    width: 76px;
    text-align: center;
}
.u_link_u{
    height: 37px;
    line-height: 35px;
    display: inline-block;
    color:#fff;
    margin:15px auto;
    background-repeat: no-repeat;
}
.u_link_u1{
    background: url(../images/ucenter_3.png);
    width: 102px;
    text-indent: 52px;
}
.u_link_u2,.u_link_u3{
    background: url(../images/ucenter_4.png);
    width: 75px;
    text-align: center;
}


.m_service{
    background-color: #f4f4f4;
    border:1px solid #666;
    border-top: none;
    padding:11px 0 11px 16px;
}
.m_service h4{
    font-size: 14px;
    height: 33px;
}
.service_c li{
    float: left;
    width: 56px;
    height: 65px;
    border:1px solid #ccc;
    margin-right: 8px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}
.u_service_icon{
    display: block;
    height: 39px;
    background: url(../images/icon_tel.png);
    background-position: center;
    background-repeat: no-repeat;
}
.m_service_show{
    width: 264px;
    height: 170px;
    background: #ccc;
}









body{font-size: 12px;}
a{color:#000;text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.cw{width: 1190px; margin-left: auto;margin-right: auto;}
.orange{color:#ff4300;}
.hide{
    display: none;
}
i{background-image: url(../images/icon.png); background-repeat: no-repeat;}
em{background-image: url(../images/star.png); background-repeat: no-repeat;}
.mt30{margin-top: 30px;}
.mr36{margin-right: 36px;}
.mb10{margin-bottom: 10px;}

